<div class="container-fluid">
    <div class="row">
       <div class="col-lg-1">
        </div>
        <div class="col-lg-3">
          </div>
          <div class="col-lg-4">
              <nav class="navbar navbar-default" id="navbar">
              <ul class="nav navbar-nav">
              <li><a routerLink="bachelor" (click)="changecolorblue()">BS</a></li>
              <li><a routerLink="master" (click)="changecolorgreen()">MS</a></li>
              </ul>
            </nav>
           </div>
        <div class="col-lg-3">

             
            </div>
      <div class="col-lg-1">
        </div>
    </div>
</div>
<router-outlet></router-outlet>
