<div class="profilepic">
    <img src="assets/jaypatel.jpg" class="img-circle">
</div>
<div>
  <p style="color: white; text-align: center">--------------------------------------</p>
  <h3 style="color: white; text-align: center">Jay Patel</h3>
  <h5 class="quot">JUNIOR SOFTWARE ENGINEER</h5>
</div>
<div class="location">
    <i class="glyphicon glyphicon-map-marker"> <span> EDISON, NJ. </span></i>
</div>
<div class="discription">
  <p>
    Recently Graduated from Wilmington University, Delware USA and persued Master of science in Information Technology Systems and Actively Looking for Full time Opprtunities as Junior Software Engineer or Java Developer.
  </p>
</div>