<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
       <li> <a routerLink="/home">Heroes</a> </li>
       <li> <a routerLink="/education">Education</a></li>
        <li><a routerLink="/projects">projects</a></li>
        <li><a routerLink="/credentials">credentials</a></li>
        <li><a routerLink="/contacts">Contacts</a></li>
    </ul>
    
  </div>
</nav>


