.navbar-inverse{
    display: flex;
    background:linear-gradient(to right, #072f5f 40%, #1261A0 100%);
}
.navbar-nav{
    display: inline;
    justify-content: center;
    justify-items: center;
    padding: 0%;
    margin: 0%;
}

.navbar-nav li{

    color: aliceblue;
    font-weight: bold;
    width: 20%;
    
}

.navbar-nav li a{
    color: white;
    font-weight: bold;
    width: 100%;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
}
.navbar-nav li a:hover{
   background-color: aliceblue; 
   color : blue;
}

.navbar-nav li a:active{
    background-color: aliceblue; 
    color : blue;
 }