

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white">© 2018 Copyright:
     <div class="container-fluid">
       <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
          <div style="vertical-align: auto">
              
                 <a><img class="iconimage" src="assets/facebooklogo.png"></a>
            
             
                <a><img class="iconimage" src="assets/githublogo.gif"></a>
             
             
                <a><img class="iconimage" src="assets/hackerranklogo.jpg"></a>
              
             
          <a href="https://www.linkedin.com/in/jay-patel-46230bb4/"><img class="iconimage" src="assets/linkedinlogo.png"></a>
              
           </div>

      </div>
      <div class="col-lg-4">
      </div>
       
      </div>
    </div>
    <!-- Copyright -->

