
<div class="page">
    <div class="container-fluid">
        <div class="row bs">
          
            <div class="col-lg-6 degree">
                <h4 style="font-weight: bold ; color: navy">Bachlor of Engineering</h4>
            </div>
            <div class="col-lg-6 year">
                <h4 style="font-weight: bold ; color: navy">June 2012 To June 2016 </h4>
            </div>
           
          </div> 
          <div style="margin-left: 1%">
            <div class="row">
           
            </div>
                <div class="line"></div>
            <div class="row body">
             <div class="col-lg-8">
                <h6 style="color: navy ; font-weight: bold"><strong>Bachelor of Engineering- Electrical Engineering</strong></h6>
                <h5>
                  BVM Engineering College [An Autonomous Institution]<br/><br/>
                  Vallabh Vidyanagar - 388 120. <br/><br/>
                  GUJARAT, INDIA.<br/><br/>
                </h5>
            </div>
            <div class="col-lg-4">
                <img src="assets/BVMLOGO.jpg"  class="logoimg"/>
            </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <h5 style="font-weight:bold">RESULTS</h5>
                </div>
                </div>
                    <div class="line"></div>
                <div class="row body">
                   <div class="col-lg-8">
                     <h5>CPI: <em><strong>9.05 / 10 </strong></em> </h5>
                     <h5>CGPA:<em> <strong> 8.97 / 10 </strong> </em></h5>
                   </div>
                 
                </div>
                <div>
                   <br/>
                   <br/>
                   <p class="animatedPara">GOLD MEDALIST OF THE YEAR IN ELECTRICAL ENGINEERING</p>

                </div>
                
          </div>  
             
          </div>
    
</div>


<div>
        




