
<div style="height: 100vh; background-color: lightgreen">
    <div class="container-fluid">
    <div class="row">
     <div class="col-lg-1">
     </div>
     <div class="col-lg-2 sidenav">
         <app-leftside></app-leftside>
     </div>
     <div class="col-lg-6">
         <app-header></app-header>
         <div class="body">
            <router-outlet></router-outlet>
         </div>
     </div>
     <div class="col-lg-2 sidenav">
     </div>
     <div class="col-lg-1">
        </div>
     </div>
</div>
<div>
        <div class="container-fluid">
                <div class="row footer">
                       <div class="col-lg-1">
                           </div>
            <div class="col-lg-2">
               
            </div>
            <div class="col-lg-6">
                <app-footer></app-footer>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-1">
               </div>
            </div>

</div>














<!-- <div style="height:100vh ; background-color: lightgreen">

    <div class="container">
        <div class="row heading">
            <div class="col-lg-1">

            </div>

            <div class="col-lg-10">
                <h1 class="myHeader">Jay Patel </h1>
            </div>

            <div class="col-lg-1">

            </div>
        </div>
        <div class="row navigationbar">

                <div class="col-lg-1">
    
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-2">
                               
                        </div>
    
                        <div class="col-lg-8" style="margin: 0%">
                          <app-header></app-header>
                        </div>
    
    
                        <div class="col-lg-2">
                           
                        </div>
                    </div>
    
                </div>
                <div class="col-lg-1">
    
                </div>
            

        </div>
        <div class="row bodypart">

            <div class="col-lg-1">

            </div>
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2 sidenav">
                           <app-leftside></app-leftside>
                    </div>

                    <div class="col-lg-8 body">
                        IT IS GOING TO BE REFLACTED
                    </div>


                    <div class="col-lg-2 sidenav">
                       
                    </div>
                </div>

            </div>
            <div class="col-lg-1">

            </div>
       
        <div class="row">


            <div class="col-lg-12 foot">
                <app-footer></app-footer>
            </div>


        </div>

   </div>
    </div> -->