
.page{
  background-image: url("/assets/backgroundpage.jpg");
}

.sidenav{
  height: 80vh;
  background:linear-gradient(to bottom, #072f5f 40%, #1261A0 100%);
  margin-top: 5%;
  margin-bottom: 0%;
  
}

.footer{
  background-color: black;
  height: 10vh;
}

.body{
  background-color: white;
  height: 80vh;
}