<div class="page">
  <div class="container-fluid">
    <h5><strong>Classes Taken:</strong></h5>
    <div class="row">

      <div class="col-lg-8">
        <h6>Jan 2017-April 2017: Java and Object-oriented concepts</h6>

      </div>
      <div class="col-lg-4">
        <h6>NYU</h6>

      </div>
    </div>
    <div class="row">

      <div class="col-lg-8">
        <h6>Sept-2018-December 2018: Web design with JavaScript </h6>

      </div>
      <div class="col-lg-4">
        <h6>Wilmington Uni</h6>

      </div>
    </div>
    <div class="row">

      <div class="col-lg-8">
        <h6>Jan 2018-April 2018: Database Management</h6>

      </div>
      <div class="col-lg-4">
        <h6>Wilmington Uni</h6>

      </div>
    </div>
  </div>

  <div class="container-fluid">
     <div class="row">
       <div class="col-lg-12">
          <h5><strong>Awards:</strong></h5>
          • Top 20 Finalist: Moody’s Analytics Fall Sprint Hackathon conducted by Hackerrank in September, 2018.<br />
          <br>
          • Gold Badge by Hackerrank In Java, Python, Sql and Problem Solving<br />
          Link: <a href="https://www.hackerrank.com/patelj917">https://www.hackerrank.com/patelj917</a><br />
        

       </div>
     </div>
     <div class="row">
       <div class="col-lg-12">
          <h5><strong>Certification:</strong></h5>
          Java issued by TestDome in October, 2018 Credential Id:f2b67a87570140ad9c13e63ea5f902cb
          Credential URL: <a
            href="https://www.testdome.com/cert/f2b67a87570140ad9c13e63ea5f902cb">https://www.testdome.com/cert/f2b67a87570140ad9c13e63ea5f902cb</a>
        

        </div>
      </div>
     
     
    </div>


  
  
</div>