
<div class="page">
    <div class="container-fluid">
        <div class="row bs">
          
            <div class="col-lg-6 degree">
                <h4 style="font-weight: bold ; color: darkgreen">Master of Engineering</h4>
            </div>
            <div class="col-lg-6 year">
                <h4 style="font-weight: bold ; color: darkgreen">August 2017 To May 2019 </h4>
            </div>
           
          </div> 
          <div style="margin-left: 1%">
            <div class="row">
          
            </div>
                <div class="line"></div>
            <div class="row body">
             <div class="col-lg-8">
                <h6 style="color: darkgreen; font-weight: bold"> Master of Science - Information System Technology</h6>
                <h5>
                    Wilmington University<br/><br/>
                    320 N. DuPont Hwy <br/><br/>
                    New Castle, DE 19720<br/><br/>
                </h5>
            </div>
            <div class="col-lg-4">
                <img src="assets/collegelogo_sm.gif"  class="logoimg"/>
            </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <h5 style="font-weight:bold">RESULTS</h5>
                </div>
                </div>
                    <div class="line"></div>
                <div class="row body">
                   <div class="col-lg-8">
                     <h5> GPA:<i><strong> 3.82 / 4.00 </strong></i></h5>
                   </div>
                 
                </div>
                <div class="row">
                    <div class="col-lg-12">
                           <h5 style="font-weight:bold">COURSES</h5>
                    </div>
                </div>
                <div class="line"></div>
                <div class="raw">
                    <div class="row-lg-12">
                      
                            <h5>1)  Web Design with Javascript</h5>
                            <h5>2)  Database Management</h5>
                            <h5>3)  Object Oriented Programming with Java</h5>
                      
                    </div>
                </div>
          </div>  
             
          </div>
    
</div>


<div>
        





