.row.content {height: 80vh}
    
/* Set gray background color and 100% height */
.pic{
  background-color: navy;
  height: 100%;
 
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}

img{
    height: 100%;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    
}

.data{
  
  height: 100%;  
  display: flex;
  justify-content: left; 
}

.middle{
  
  align-self: auto;
  margin-top: 10%;
  padding: 0%;
}

td{
  
  padding: 5px 10px;
  font: 10px;
  font-weight: bold;
  color: blue;
}

hr{
  padding: 0%;
  margin: 0%;
  color : blue;
}