<div class="container-fluid">
    <div class="row content">
        <div class="col-lg-7 data">
            <div class="row middle">
                   <h1> + PROFILE </h1>
                  <h3> JAY KIRITKUMAR PATEL</h3>
                  <hr size="10">
                  <br>
                  <br>
                    <table>
                        <tr>
                            <td class="glyphicon glyphicon-user"></td>
                            <td>Name:</td>
                            <td>Jay Patel</td>
                        </tr>
                       
                        <tr>
                            <td class="glyphicon glyphicon-map-marker"></td>
                            <td>Address:</td>
                            <td>EDISON, NJ, USA</td>
                        </tr>
                        <tr>
                            <td class="glyphicon glyphicon-envelope"></td>
                            <td>Email:</td>
                            <td>jay1791994@gmail.com</td>
                        </tr>
                        <tr>
                            <td class="glyphicon glyphicon-phone"></td>
                            <td>Contact No:</td>
                            <td>+1(848)-248-0649</td>
                        </tr>
                        <tr>
                            <td class="glyphicon glyphicon-globe"></td>
                            <td>Webiste:</td>
                            <td>www.jay1791994@gmail.com</td>
                        </tr>
                    </table>
                </div>
        </div>
      <div class="col-lg-5 pic">
         <img src="assets/JAY.jpg">
      </div>
  
    
  </div>